/* 推荐 */

.recommend {
  padding: 20px;
  font-size: 16px;
  border: 1px dashed #ec2e4f;
  border-top: 10px solid #ec2e4f;
}

.recommend a {
  display: block;
  padding: 7px;
  color: #393938;
}

.recommend a:hover {
  color: #333;
}

/* 推荐 */

/* 前后 */

.arrow {
  width: 350px;
  height: 40px;
  background-color: #ec2e4f;
  position: relative;
  border: 2px solid #ec2e4f;
  text-align: center;
  line-height: 35px;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}

.arrow:hover {
  color: #fff;
}

.arrow:after,
.arrow:before {
  border: solid transparent;
  content: ' ';
  position: absolute;
  top: -2px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.art_prew {
  float: left;
  margin-left: 20px;
}

.art_prew:after,
.art_prew:before {
  right: 100%;
}

.art_prew:after {
  right: 348px;
  border-right: 20px solid #ec2e4f;
}

.art_prew:before {
  right: -2px;
  border-right: 20px solid #fff;
}

.art_next {
  float: right;
  margin-right: 20px;
}

.art_next:after,
.art_next:before {
  left: 100%;
}

.art_next:after {
  left: 348px;
  border-left: 20px solid #ec2e4f;
}

.art_next:before {
  left: -2px;
  border-left: 20px solid #fff;
}

/* 前后 */

/* 评论 */

#comments {
  padding-bottom: 30px;
  clear: both;
}

#comments .article-con {
  border-top: solid 5px #1A9F8C;
  padding: 5px 20px;
  margin: 10px 0;
}

#comments .article-con .nickname a {
  color: #1A9F8C;
}

#comments .article-con .content p {
  padding: 20px;
  margin-bottom: 0;
}

#comments .article-con .reply {
  text-align: right;
  padding: 5px 40px;
}

#comments .article-con .reply a {
  color: #1A9F8C;
  font-size: 16px;
  cursor: pointer;
}

#comments .article-con .reply a:hover {
  color: #1A9F8C;
}

#comments .article-con-child {
  padding: 5px 0 0 10px;
  margin: 10px 5px 5px 0px;
  border: 1px dashed #1A9F8C;
  border-left: 3px solid #1A9F8C;
}

#comments h6 {
  color: #b3b3b3;
}

#publish {
  background-color: #ec2e4f;
  padding: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

#publish a,
#publish #publish a:hover {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  opacity: 1;
}

#commentModal .modal-header {
  background-color: #ec2e4f;
  color: #fff;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

#commentModal .modal-header span {
  color: #fff;
  text-shadow: none;
  line-height: 1.4;
}

#commentModal .modal-footer #submit_but {
  background-color: #1A9F8C;
  color: #fff;
}

div.content p {
  word-break: break-all;
}

/* 评论 */