.article-con-child{
  padding: 5px 0 0 10px;
  margin: 10px 5px 5px 0px;
  border: 1px dashed #00B38C;
  border-left: 3px solid #00B38C;
}
div.content p{
  word-break:break-all;
}
.article-con{
	 border-top: solid 10px #00B38C;
	 padding: 5px 20px;
	 margin: 10px 0;
}
.article-con .content p{
	padding: 20px;
	margin-bottom: 0;
}
.article-con .reply{
	text-align: right;
	padding: 5px 40px;
}
.article-con .reply a{
	color: #00B38C;
	font-size: 16px;
	cursor: pointer;
}
.article-con .reply a:hover{
	color: #00B38C;
}
