div.content p {
  word-break: break-all;
}

.article-con {
  border-top: solid 10px #1A9F8C;
  padding: 5px 20px;
  margin: 10px 0;
}

.article-con .nickname a {
  color: #1A9F8C;
}

.article-con .content p {
  padding: 20px;
  margin-bottom: 0;
}

.article-con .reply {
  text-align: right;
  padding: 5px 40px;
}

.article-con .reply a {
  color: #1A9F8C;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.article-con .reply a:hover {
  color: #1A9F8C;
}

.article-con-child {
  padding: 5px 0 0 10px;
  margin: 10px 5px 5px 0px;
  border: 1px dashed #1A9F8C;
  border-left: 3px solid #1A9F8C;
}

.comment_wait {
  border: 1px dashed #ec2e4f;
  border-left: 3px solid #ec2e4f;
}