/* =====show.form===== */
#md-but button{
	border-bottom: none;
}
#md-but button:first-child{
	border-bottom-left-radius: 0;
	border-top-left-radius: 4px;
}
#md-but button:last-child{
	border-bottom-right-radius: 0;
	border-top-right-radius: 4px;
}
#md-but + textarea {
	border-top-left-radius: 0;
	border-top-right-radius: 4px;
}
/* =====show.form===== */
.btn-group a{
	cursor: pointer;
}

/*table*/
table tr td{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/*table*/
